<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:int-jdbc="http://www.springframework.org/schema/integration/jdbc"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jms="http://www.springframework.org/schema/integration/jms"
	xmlns:file="http://www.springframework.org/schema/integration/file"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc         http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
                    http://www.springframework.org/schema/integration      http://www.springframework.org/schema/integration/spring-integration.xsd
                    http://www.springframework.org/schema/task             http://www.springframework.org/schema/task/spring-task-3.0.xsd
                    http://www.springframework.org/schema/beans            http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                    http://www.springframework.org/schema/integration/jdbc http://www.springframework.org/schema/integration/jdbc/spring-integration-jdbc.xsd
                    http://www.springframework.org/schema/integration/jms  http://www.springframework.org/schema/integration/jms/spring-integration-jms.xsd
                    http://www.springframework.org/schema/integration/file http://www.springframework.org/schema/integration/file/spring-integration-file-2.1.xsd">

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">

		<property name="location">
			<value>app.properties</value>
		</property>
	</bean>

	<int:poller id="poller" default="true" fixed-delay="1000" />

	<!-- connection factory for ActiveMQ -->
	<bean name="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL">
			<value>failover:tcp://${mqHost}:61616</value>
		</property>
	</bean>

	<!-- destination on ActiveMQ -->
	<bean id="positionsQueue" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="${mqQueue}" />
	</bean>

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">

		<property name="driverClassName" value="org.postgresql.Driver" />
		<property name="url" value="jdbc:postgresql://172.16.9.110:5432/postgres" />
		<property name="username" value="mq" />
		<property name="password" value="dc69866" />
	</bean>

	<jms:message-driven-channel-adapter
		id="positionsJmsAdapter" connection-factory="connectionFactory"
		destination="positionsQueue" channel="inputChannel" />

	<int:channel id="inputChannel" />

	<int-jdbc:outbound-channel-adapter
		channel="inputChannel" data-source="dataSource"
		query="delete from status_table
   where CORRELATION_ID =:headers[correlationId] and domain_id in
   (select id from domain where domain_name = :payload[domain.name])">
	</int-jdbc:outbound-channel-adapter>

</beans>