<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:int-jdbc="http://www.springframework.org/schema/integration/jdbc"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jms="http://www.springframework.org/schema/integration/jms"
	xmlns:file="http://www.springframework.org/schema/integration/file"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc         http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
                    http://www.springframework.org/schema/integration      http://www.springframework.org/schema/integration/spring-integration.xsd
                    http://www.springframework.org/schema/task             http://www.springframework.org/schema/task/spring-task-3.0.xsd
                    http://www.springframework.org/schema/beans            http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                    http://www.springframework.org/schema/integration/jdbc http://www.springframework.org/schema/integration/jdbc/spring-integration-jdbc.xsd
                    http://www.springframework.org/schema/integration/jms  http://www.springframework.org/schema/integration/jms/spring-integration-jms.xsd
                    http://www.springframework.org/schema/integration/file http://www.springframework.org/schema/integration/file/spring-integration-file-2.1.xsd">

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">

		<property name="location">
			<value>app.properties</value>
		</property>
	</bean>

	<int:poller id="poller" default="true" fixed-delay="1000" />

	<!-- connection factory for ActiveMQ -->
	<bean name="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL">
			<value>failover:tcp://${mqHost}:61616</value>
		</property>
	</bean>

	<!-- destination on ActiveMQ -->
	<bean id="positionsQueue" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="${mqQueue}" />
	</bean>

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">

		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:XE" />
		<property name="username" value="scott" />
		<property name="password" value="tiger" />
	</bean>

	<int-jdbc:inbound-channel-adapter
		channel="input-channel" data-source="dataSource" query="select * from emp">
		<int:poller fixed-rate="1000">
		
		</int:poller>
	</int-jdbc:inbound-channel-adapter>

	<int:service-activator input-channel="input-channel"
		ref="jdbcMessageHandler" output-channel="output-channel" />

	<bean id="jdbcMessageHandler" class="ru.rstyle.si.jdbc.JdbcMessageHandler" />

	<int:channel id="input-channel" />

	<int:channel id="output-channel" />

	<jms:outbound-channel-adapter channel="output-channel"
		connection-factory="connectionFactory" destination="positionsQueue">
	</jms:outbound-channel-adapter>

</beans>